---
import CertificationCard from "./CertificationCard.astro"
import { certifications } from "../data/certifications"
import CertificateIcon from "./icons/CertificateIcon.astro"
import SchoolIcon from "./icons/SchoolIcon.astro"
import AWSIcon from "./icons/AWSIcon.astro"
import MetaIcon from "./icons/MetaIcon.astro"
import ReactIcon from "./icons/ReactIcon.astro"
import GitIcon from "./icons/GitIcon.astro"
import PythonIcon from "./icons/PythonIcon.astro"
import UXIcon from "./icons/UXIcon.astro"
---

<section id="certifications" class="flex flex-col pt-20 lg:pt-36">
  <div class="flex mb-7 gap-x-6 items-center lg:mb-11">
    <CertificateIcon class="size-12 text-gray-600 dark:text-white lg:size-14"/>
    <h1 class="font-bold text-5xl leading-normal  bg-gradient-to-r from-purple-400 to-purple-600 bg-clip-text text-transparent lg:text-6xl lg:leading-normal ">
      Certifications
    </h1>
  </div>
  <div class="flex flex-row flex-wrap gap-6 lg:gap-8">
    <CertificationCard 
      name={certifications[0].name}
      provider={certifications[0].provider}
      url={certifications[0].url}
    >
      <SchoolIcon slot="icon" class="h-full"/>
    </CertificationCard>
    <CertificationCard 
      name={certifications[1].name}
      provider={certifications[1].provider}
      url={certifications[1].url}
    >
      <AWSIcon slot="icon" class="h-full"/>
      <AWSIcon slot="provider" class="h-3"/>
    </CertificationCard>
    <CertificationCard 
      name={certifications[2].name}
      provider={certifications[2].provider}
      url={certifications[2].url}
    >
      <ReactIcon slot="icon" class="h-full"/>
      <MetaIcon slot="provider" class="h-3"/>
    </CertificationCard>
    <CertificationCard 
      name={certifications[3].name}
      provider={certifications[3].provider}
      url={certifications[3].url}
    >
      <UXIcon slot="icon" class="h-full"/>
      <MetaIcon slot="provider" class="h-3"/>
    </CertificationCard>
    <CertificationCard 
      name={certifications[4].name}
      provider={certifications[4].provider}
      url={certifications[4].url}
    >
      <GitIcon slot="icon" class="h-full"/>
      <MetaIcon slot="provider" class="h-3"/>
    </CertificationCard>
    <CertificationCard 
      name={certifications[5].name}
      provider={certifications[5].provider}
      url={certifications[5].url}
    >
      <PythonIcon slot="icon" class="h-full"/>
      <MetaIcon slot="provider" class="h-3"/>
    </CertificationCard>
  </div>
</section>